header {
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;

    li {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

footer {
  background: #000;
  padding: 1rem;
  text-align: center;
}

main {
  background: #d9d9de;
  padding: 2rem;
  width: 100%;
  max-width: 1450px;
  min-height: 400px;
  margin: auto;
  color: black;
}

.homeBody {
  display: flex;
  flex-direction: column;

  .card {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;

    &:nth-child(even) {
      direction: rtl;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 30%;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

.eventsPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  .card {
    position: relative;

    h2 {
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: center;
      font-size: 33px;
      color: white;
      text-transform: uppercase;
      text-shadow: 1px 1px 20px black;
    }
  }
}

.catEvents {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    img {
      width: 100%;
      height: auto;
    }

    h2,
    p {
      margin: auto;
      width: 80%;
      text-align: center;
      padding: 0.5rem 0;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    // width: 33%;
  }
}

.singleEvent {
  p {
    padding: 1rem 0;
  }
  form {
    label {
      display: flex;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 25px;
    }
    input {
      height: 40px;
      min-width: 350px;
      box-shadow: none;
      border-radius: 5px;
      border: 1px solid #5f5a5a;
      font-size: 16px;
      padding-left: 1rem;
      background-color: transparent;
      color: black;
    }
    button {
      border-radius: 5px;
      height: 40px;
      min-width: 150px;
      border: 1px solid #1a1a1c;
      font-size: 16px;
      text-transform: uppercase;
      margin-left: 10px;
      font-weight: 600;
      background: #07065e;
      cursor: pointer;
      &:hover {
        background: #1543a0;
      }
    }
  }
}
